include ../header.pug 
div
     p سلام،
     p درخواست شماره #{BurnRequestNumber} جهت فروش #{amount} توکن توسط شما در سیستم ثبت شد.
          br
          | برای ثبت نهایی لازم است تا درخواست شما توسط مدیران سیستم بررسی و تایید شود. پس از تایید درخواست از طریق ایمیل به شما اطلاع رسانی خواهد شد.
     include ../signature.pug 