include ../header.pug 
div
     p سلام،
     p  یک هفته از آخرین پاسخ مدیر سیستم به تیکت شماره «#{ticketNumber}» با موضوع «#{subject}» گذشته است و با توجه به اینکه شما پاسخی به این تیکت نداشته‌اید، این تیکت به صورت خودکار بسته می‌شود.
     include ../signature.pug 