div(style={direction: 'rtl', 'font-family': 'monospace'})
     p سلام،
     p درخواست فروش #{amount}توکن توسط شما ثبت شده است. برای ثبت نهایی لازم است تا کد زیر را در سایت وارد نمایید تا توسط مدیران سیستم بررسی شود
          br
          strong کد تایید نهایی درخواست فروش توکن: #{verificationToken}
     include ../signature.pug 