- var link = `${server}users/resetpassword?email=${email}&resetpasswordtoken=${passwordToken}`
div(style={direction: 'rtl', 'font-family': 'monospace'})
     p سلام،
     p برای بازنشانی مجدد رمزعبور باید بر روی لینک زیر کلیک کنید و سپس در صفحه باز شده رمزعبور جدید برای خود انتخاب نمایید.
          br
          a(href=link) بازنشانی رمزعبور
     include ../signature.pug 