div(style={direction: 'rtl', 'font-family': 'monospace'})
     p سلام،
     p  مدیر سیستم به تیکت شماره «#{ticketNumber}» با موضوع «#{subject}» پاسخ داده است. پاسخ مدیر به شرح زیر است:
          br
          div #{answerDesc}
     include ../signature.pug 