html(lang="en")
    head
        style(type='text/css').
           div {
                line-height: 1.5;
                font-family:"Yekan";
                direction:rtl
            }
                @font-face {
                         font-family:'Yekan';
                         src: url('http://88.198.19.87/assets/fonts/Yekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */}